<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adham's Portfolio</title>
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='03_imgs/favicon.png') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='01_css/project_styles.css') }}">
    <!-- <script src="{{ url_for('static', filename='02_js/index_scripts.js') }}" defer></script> -->
</head>
<body>
    <header>
        <div class="logo-all">
            <a href="#" class="logo-holder">
                <div class="logo">AD</div>
                <div class="logo-text">Adham's Portfolio</div>
            </a>
            <a href="#" class="mobile-toggle" onclick="toggleMobileMenu()">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h10"/>
                </svg>
            </a>
        </div>
        <nav>
            <ul id="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#experience">Experience</a></li>
                <li><a href="#contact" class="button">Contact</a></li>
                <li></li>
            </ul>
        </nav>
    </header>
    <main>
        <article class="card">
            <div class="temporary_text">
                Place image here
            </div>
            <div class="card_content">
                <span class="card_title">This is a Title</span>
                    <span class="card_subtitle">Thsi is a subtitle of this page. Let us see how it looks on the Web.
                </span>
                <p class="card_description">Lorem ipsum dolor, sit amet  expedita exercitationem recusandae aut dolor 
                    tempora aperiam itaque possimus at, cupiditate earum, quae repudiandae aspernatur? Labore minus 
                    soluta consequatur placeat.
                </p>
                
            </div>
        </article>

        <article class="card">
            <div class="temporary_text">
                Place image here
            </div>
            <div class="card_content">
                <span class="card_title">This is a Title</span>
                    <span class="card_subtitle">Thsi is a subtitle of this page. Let us see how it looks on the Web.
                </span>
                <p class="card_description">Lorem ipsum dolor, sit amet  expedita exercitationem recusandae aut dolor 
                    tempora aperiam itaque possimus at, cupiditate earum, quae repudiandae aspernatur? Labore minus 
                    soluta consequatur placeat.
                </p>
                
            </div>
        </article>

        <article class="card">
            <div class="temporary_text">
                Place image here
            </div>
            <div class="card_content">
                <span class="card_title">This is a Title</span>
                    <span class="card_subtitle">Thsi is a subtitle of this page. Let us see how it looks on the Web.
                </span>
                <p class="card_description">Lorem ipsum dolor, sit amet  expedita exercitationem recusandae aut dolor 
                    tempora aperiam itaque possimus at, cupiditate earum, quae repudiandae aspernatur? Labore minus 
                    soluta consequatur placeat.
                </p>
                
            </div>
        </article>

        <article class="card">
            <div class="temporary_text">
                Place image here
            </div>
            <div class="card_content">
                <span class="card_title">This is a Title</span>
                    <span class="card_subtitle">Thsi is a subtitle of this page. Let us see how it looks on the Web.
                </span>
                <p class="card_description">Lorem ipsum dolor, sit amet  expedita exercitationem recusandae aut dolor 
                    tempora aperiam itaque possimus at, cupiditate earum, quae repudiandae aspernatur? Labore minus 
                    soluta consequatur placeat.
                </p>
                
            </div>
        </article>

        <article class="card">
            <div class="temporary_text">
                Place image here
            </div>
            <div class="card_content">
                <span class="card_title">This is a Title</span>
                    <span class="card_subtitle">Thsi is a subtitle of this page. Let us see how it looks on the Web.
                </span>
                <p class="card_description">Lorem ipsum dolor, sit amet  expedita exercitationem recusandae aut dolor 
                    tempora aperiam itaque possimus at, cupiditate earum, quae repudiandae aspernatur? Labore minus 
                    soluta consequatur placeat.
                </p>
                
            </div>
        </article>
    </main>
</body>
</html>
